body {
    background: url(../images/background.jpg);
    background-size: 100%;
}

.container {
	max-width: 600px
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
	color: white; 
    //text-shadow: 2px 2px gray;  
    padding: 8px;
    margin: 20px 0 10px 0;
    text-align: center;
	font-weight: bold;
    background-color: gray; /* For browsers that do not support gradients */
    background-image: radial-gradient(violet, purple, blue); /* Standard syntax (must be last) */
 }

 #image-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-emphasis: center;
  }

  .timer {
      text-align: center;
  }

  #answerChoices {
      font-size: 40px;
  }

.gameOver {
	font-size: 38px;
	color: DarkGreen;
}